@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    @apply border-2 w-12 h-12 text-center;
}

th {
    @apply border-2 text-center;
}

.coin {
    @apply rounded-full inline-flex items-center justify-center border-2 border-black w-12 h-12;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
