@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    caption {
        @apply font-light;
    }
    table {
        @apply border-collapse border-2;
    }
    td {
        @apply border-2 w-8 h-12 text-center;
    }
    th {
        @apply border-2 w-6 h-6;
    }
}

@layer components {
    .bg-camp-icon, .bg-suit-icon, .bg-hero-icon, .bg-tavern-icon {
        @apply block-center w-6 h-6;
    }
    .bg-card, .bg-hero, .bg-camp, .bg-mythological-creature, .bg-royal-offering {
        @apply block-center text-xl text-white w-8 h-12;
        line-height: 48px;
    }
    .bg-coin {
        @apply rounded-full inline-flex-center w-10 h-10;
    }
    .bg-small-coin {
        @apply rounded-full inline-flex-center w-8 h-8;
    }
    .bg-hero-inactive {
        @apply block-center text-xl text-white opacity-50 w-8 h-12;
        line-height: 48px;
    }
    .bg-market-coin {
        @apply rounded-full inline-flex items-center justify-start w-10 h-10 font-bold p-0.5;
    }
    .bg-priority {
        @apply block-center w-8 h-10;
        transform: rotate(180deg);
    }
    .bg-priority-icon {
        @apply block-center w-8 h-6;
    }
    .bg-small-market-coin {
        @apply rounded-full block-center w-6 h-6;
    }
    .bg-suit-distinction {
        @apply block-center w-8 h-12;
    }
    .bg-top-distinctions-icon {
        @apply inline-block w-3 h-4;
    }
    .bg-top-market-coin-icon {
        @apply rounded-full inline-block w-6 h-6;
    }
    .bg-top-tavern-icon, .bg-top-hero-icon, .bg-top-camp-icon, .bg-top-card-back-icon, .bg-top-camp-back-icon {
        @apply inline-block w-6 h-6;
    }
    .log {
        height: 800px;
    }
}

@layer utilities {
    .block-center {
        @apply block m-auto;
    }
    .inline-flex-center {
        @apply inline-flex items-center justify-center self-center;
    }
}
